.page-footer.Footer {
  background-color: rgb(1, 193, 193);
  height: 60px;
  width: 100%;
  bottom: 0;
  position: fixed;
  display: block;
  margin: 0 auto 0 auto;
  padding: 0 auto 0 auto;
  text-align: right;
}


/*.footertext {
  background-color: red;
  width: auto;
  padding: 0 15px;
  margin: 0 auto 0 auto;
}*/

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
}
